$widthContainer: 50px;
$heightContainer: 800px;
$gradientBack: linear-gradient(to right, #4c71eb, #4c8deb);
$heightLista: 40%;
$sizeElementsList: 18px;
$widthHeightCircle: 35px;
$borderCircle: 50%;
$backColorCircle:#a5c6f5;
$paddingLista: 25% 0;
$backColorSelector: #3f73dc;
$paddingLabels: 10px;